mixin myoffer()

  .uk-container.uk-margin-medium-left
    .uk-card.uk-card-default.uk-grid-collapse.uk-margin(class='uk-child-width-1-2@s' uk-grid='')
      .uk-card-media-left.uk-cover-container
        img(src='https://getuikit.com/docs/images/light.jpg' alt='' uk-cover='')
        canvas(width='600' height='400')
      div
        .uk-card-body
          h3.uk-card-title Media Left
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
