mixin myoffer()

  .uk-container.uk-margin-medium-left
    .uk-card.uk-card-default.uk-grid-collapse.uk-margin(class='uk-child-width-1-2@s' uk-grid='')
      .uk-card-media-left.uk-cover-container
        img(src='https://getuikit.com/docs/images/light.jpg' alt='' uk-cover='')
        canvas(width='600' height='400')
      div
        .uk-card-body
          h3.uk-card-title.uk-text-left.uk-margin-small-bottom Concierto Iron Maiden
          p.uk-margin-remove-top.uk-text-meta.uk-margin-remove-bottom.uk-text-left 15 Agosto 2019
          h3.uk-card-title.uk-text-left.uk-margin-remove-top.uk-margin-small-bottom $1050

          .uk-grid-small.uk-flex-left(uk-grid='')
            .uk-width-expand.uk-text-left
              p.uk-text-meta.uk-margin-remove-bottom Miranda Gómez Palafox Vega Hernández

              .rate-stars
                img#star1(src='/images/star.svg') 
                img#star1(src='/images/star.svg') 
                img#star1(src='/images/star.svg') 
                img#star1(src='/images/star.svg') 
                img#star1(src='/images/star-off.svg') 