extends layout
block content

  div.uk-text-center(uk-height-viewport='expand: true')
    .uk-position-center
      span(uk-icon='icon: bolt; ratio: 5.5')
      h1 Ups! Algo salió mal
      h2 Revisa la consola para detectar el error
    