extends layout

block navelements
  a(href="/") Home

block body
  form(action='/signup' method='post')
    .form-group
      label(for='email') Email
      input.form-control(type='email', name='email' placeholder='Email')
    button.btn.btn-primary(type='submit') Register


