$primary: #2a1a5e;
$blue-darker: #261c48;
$secondary: #f45905;
$orange-light: #fb9224;
$white: #ffffff;
$comfortaa: "Comfortaa";
$light-grey: #bdbdbd;
$lighter-grey: #f0f0f0;

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(82, 121, 136);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", cursive !important;
}
h2 {
  font-size: 2.3rem !important;
}
h5 time {
  color: $blue-darker !important;
}
p {
  font-family: "Comfortaa", cursive !important;
  line-height: 1.8em;
}
label {
  font-family: "Comfortaa", cursive !important;
}
footer {
  background-color: $primary !important;
}
nav {
  display: flex;
  justify-content: space-around;
}
#benefits,
#related {
  background-color: $lighter-grey;
}
#no-user-nav {
  display: flex;
  justify-content: space-around;
}
.card-verified-flag {
  color: #ffffff;
  float: right;
  margin-right: -40px;
  padding: 5px 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  height: 20px;
}
.rate-stars img {
  width: 22px;
  margin-right: 2px;
}
.star-off {
  fill: $light-grey;
}
.text-primary {
  color: $primary !important;
}
.money {
  color: $secondary !important;
  font-weight: bolder !important;
  font-family: "Comfortaa", cursive !important;
}
.new-auct-instructions,
.new-auct-instructions p,
.new-auct-instructions a {
  font-family: "Comfortaa", cursive !important;
  margin: 10px 0px;
}
.new-auct-instructions a {
  color: $primary;
}
/* UIKIT styles tropicalized */

.uk-navbar-container {
  background-color: $primary !important;
}
.uk-navbar-nav li a {
  color: $white !important;
  font-family: $comfortaa !important;
  font-weight: 600;
}
.uk-text-large {
  font-size: 1.4rem !important;
  font-weight: 800 !important;
}
.uk-text-small {
  font-size: 0.75em !important;
}
.uk-form-label {
  color: $primary !important;
  font-size: 0.75rem !important;
  margin-bottom: 5px !important;
  display: flex !important;
}
.uk-button-secondary {
  background-color: $secondary !important;
  color: $white !important;
  font-weight: bolder !important;
}
.uk-card-title {
  font-size: 1.6rem !important;
}
.uk-label {
  background-color: $primary !important;
  font-family: $comfortaa !important;
  font-weight: 900 !important;
  padding: 4px 9px !important;
}
.uk-overlay-primary {
  background: rgba(34, 34, 34, 0.6) !important;
}
